
.vs/Practice/v15/Server/sqlite3/db.lock
.vs/Practice/v15/Server/sqlite3/storage.ide
.vs/Practice/v15/Server/sqlite3/storage.ide-shm
.vs/Practice/v15/Server/sqlite3/storage.ide-wal
TokenGenerator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TokenGenerator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TokenGenerator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TokenGenerator/obj/Debug/TokenGenerator.csproj.CoreCompileInputs.cache
TokenGenerator/obj/Debug/TokenGenerator.csprojAssemblyReference.cache
UtilityTools/Html2Image/obj/Debug/Html2Image.csproj.CoreCompileInputs.cache
UtilityTools/Html2Image/obj/Debug/Html2Image.csprojAssemblyReference.cache
UtilityTools/Html2Image/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UtilityTools/Html2Image/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UtilityTools/Html2Image/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UtilityTools/TokenGenerator/Form1 - Copy.cs
UtilityTools/TokenGenerator/Form1 - Copy.resx
UtilityTools/TokenGenerator/Form1.Designer - Copy.cs
UtilityTools/TokenGenerator/Itzikgur-My-Seven-Keys.ico
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/Itzikgur-My-Seven-Keys.ico.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/Newtonsoft.Json.dll.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/TokenGenerator.application
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/TokenGenerator.exe.config.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/TokenGenerator.exe.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/TokenGenerator.exe.manifest
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/Itzikgur-My-Seven-Keys.ico.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/Newtonsoft.Json.dll.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGenerator.application
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGenerator.exe.config.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGenerator.exe.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGenerator.exe.manifest
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGeneratorIcon.ico.deploy
UtilityTools/TokenGenerator/publish/setup.exe
UtilityTools/TokenGenerator/publish/TokenGenerator.application
UtilityTools/TokenGenerator/Resources/TokenGeneratorIcon.ico
UtilityTools/TokenGenerator/TokenGenerator_TemporaryKey.pfx
UtilityTools/TokenGenerator/TokenGeneratorIcon.ico
UtilityTools/YoutubeDownloader/DownloadFfmpeg.ps1
UtilityTools/YoutubeDownloader/ffmpeg.exe
UtilityTools/YoutubeDownloader/FodyWeavers.xml
UtilityTools/YoutubeDownloader/FodyWeavers.xsd
.vs/Practice/v15/.suo
UtilityTools/TokenGenerator/Form1 - Copy.cs
UtilityTools/TokenGenerator/Form1 - Copy.resx
UtilityTools/TokenGenerator/Form1.Designer - Copy.cs
UtilityTools/TokenGenerator/Itzikgur-My-Seven-Keys.ico
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/Itzikgur-My-Seven-Keys.ico.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/Newtonsoft.Json.dll.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/TokenGenerator.application
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/TokenGenerator.exe.config.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/TokenGenerator.exe.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_0/TokenGenerator.exe.manifest
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/Itzikgur-My-Seven-Keys.ico.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/Newtonsoft.Json.dll.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGenerator.application
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGenerator.exe.config.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGenerator.exe.deploy
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGenerator.exe.manifest
UtilityTools/TokenGenerator/publish/Application Files/TokenGenerator_1_0_0_1/TokenGeneratorIcon.ico.deploy
UtilityTools/TokenGenerator/publish/setup.exe
UtilityTools/TokenGenerator/publish/TokenGenerator.application
UtilityTools/TokenGenerator/Resources/TokenGeneratorIcon.ico
UtilityTools/TokenGenerator/TokenGenerator_TemporaryKey.pfx
UtilityTools/TokenGenerator/TokenGeneratorIcon.ico
UtilityTools/YoutubeDownloader/DownloadFfmpeg.ps1
UtilityTools/YoutubeDownloader/ffmpeg.exe
UtilityTools/YoutubeDownloader/FodyWeavers.xml
UtilityTools/YoutubeDownloader/FodyWeavers.xsd
